/* 공통 */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  margin-bottom: 30px;
}

textarea {
  width: 98%;
  min-height: 60px;
  resize: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main {
  flex: 5;
  height: 100%;
}

.contents-container {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  @media (max-width: 480px) {
    margin-bottom: 40px;
  }
}

.action-button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.emotion-button-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

/* 공통 컴포넌트 */
.MenuBar {
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 1;
  min-width: fit-content;
  background-color: lightcyan;
  border-right: 1px solid black;
}

.menu-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.SideBar {
  flex: 3;
  background-color: lightcyan;
  border-left: 1px solid black;
  padding: 0px 10px 0px 10px;
}

.MenuBar,
.SideBar {
  @media (max-width: 480px) {
    display: none;
  }
}

.side-content {
  text-align: center;
  font-size: 13px;
}

.Header {
  display: flex;
  position: sticky;
  top: 0;
  height: 40px;
  background-color: lightcyan;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 480px) {
    justify-content: center;
  }
}

.header-left-icon {
  background-image: url("/public/assets/menu.svg");
  height: 30px;
  width: 30px;
  background-size: cover;
  @media (min-width: 480px) {
    display: none;
  }
}

.header-right-icon {
  height: 30px;
  width: 30px;
  @media (min-width: 480px) {
    display: none;
  }
}

.MobileBottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  border-top: 1px solid black;
  background-color: lightcyan;
  @media (min-width: 480px) {
    display: none;
  }
}

.bottom-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-icon {
  background-image: url("/public/assets/write.svg");
  height: 15px;
  width: 15px;
  background-size: cover;
}

.home-icon {
  background-image: url("/public/assets/home.svg");
  height: 15px;
  width: 15px;
  background-size: cover;
}

.profile-icon {
  background-image: url("/public/assets/profile.svg");
  height: 15px;
  width: 15px;
  background-size: cover;
}

.EmotionButton {
  height: 25px;
  min-width: 50px;
  background-color: white;
  border: 1px black solid;
  border-radius: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px #999;
}

.EmotionButton-selected {
  background-color: #f1cbff;
}

.ActionButton {
  border: 1px solid black;
  height: 30px;
  width: 70px;
  border-radius: 4px;
  box-shadow: 0 1px #999;
}

/* NoteItem */
.NoteItem {
  border-bottom: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 80px;
}
.NoteItem:hover {
  background-color: #ececec;
}

.NoteItem-dateTime {
  font-size: 12px;
}

.NoteItem-situation {
  font-size: 15px;
  word-break: break-all;
  white-space: pre-wrap;
}

/* 상세 페이지 */
.content-box {
  background-color: #ebebeb;
  padding: 5px;
  border-radius: 2px;
  min-height: 20px;
  word-break: break-all;
  white-space: pre-wrap;
}

.date-time-box {
  width: fit-content;
}

/* 로그인 페이지 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
  padding-top: 50px;
}

.email-login-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-input {
  height: 20px;
  width: 80%;
  max-width: 300px;
  display: block;
}

.login-btn {
  height: 30px;
  width: 85%;
  max-width: 300px;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 2px;
  box-shadow: 0 1px #999;
}

.login-additional-link {
  font-size: 10px;
}

.password-check {
  color: red;
  font-size: 8px;
  text-align: left;
  margin-top: -8px;
}

.google-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.google-logo {
  width: 15px;
}

/* 프로필 */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.profile-btn-container {
  display: flex;
  gap: 5px;
}

/* 필터링 */
.FilterBox {
  width: 400px;
  max-width: 90%;
  background-color: #ececec;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
